<!-- About Page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/about.css">
</head>
<body>

  <div id="about" class="d-flex align-items-center" style="margin-top: 100px;">
    <div class="container">

      <section class="row w-100 bg-light">
        <div class="col-lg-6 col-img py-5">
          </div>
          <div class="col-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 pt-4">
                  <h2 style="padding-bottom: 15px;">About Me</h2>
                  <h5 style="padding-bottom: 5px;">Hello! I'm Wanting.</h5>
                    <p>
                      Welcome to Dessert World where you’ll find delicious, tried-and-tested recipes for every occasion made with every day ingredients! 
                    </p>
                    <p>
                      I started this blog in 2022 to store my recipes that I’ve collected and tested over the years. 
                      I have always loved cakes and desserts. When I just start baking, there was a complete mess-up in the kitchen, 
                      but I think that’s what makes us stronger and better at what we do. I’ve learned from my mistakes and turn my mistakes into a valuable lesson.
                      The good news is, I'm here to share my experiences and the baking tips, 
                      instead of repeating my mistakes, I believe the recipes I shared here will help everyone in the baking journey.
                    </p>
                    <p>
                      If you’re learning, you won't go wrong! I hope we’ll only go forward from here. Happy Baking Everyone :)
                    </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <div class="d-flex align-items-center" style="margin-top: 100px;">
    <div class="container">
       <section id="portfolio">
        <div class="container-fluid">
          <div class="row mb-4">
            <div class="col-md-8 mx-auto text-center">
              <h3>The Art of Dessert</h3>
              <p>
                The edible dessert art that tastes as good as it looks.
                For me, dessert making is an art. Modern people's affinity for desserts has gone way beyond the singular requirement of the dessert having to taste delicious. Each dessert needs to be unique, has an original shape, and has to be beautifully decorated.
                It can be said that every delicacy is an artistic performance, where people can experience the exquisiteness of life and enjoy life’s experiences.
              </p>
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/kanahei01.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2020</h4>
                    <h6 class="text-white">Wedding Royal Icing Cookies</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/kanahei02.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2020</h4>
                    <h6 class="text-white">Wedding Royal Icing Cookies</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/cookie01.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2019</h4>
                    <h6 class="text-white">New Year Royal Icing Cookies</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/cake01.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2020</h4>
                    <h6 class="text-white">Taro Cake</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/cookie02.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2020</h4>
                    <h6 class="text-white">Mother's Day Royal Icing Cookies</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="portfolio">
                <img src="/img/cake02.jpg" alt="">
                <div class="overlay">
                  <div>
                    <h4 class="text-white">2017</h4>
                    <h6 class="text-white">Whipping Cream Decoration</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>

</body>
</html>