

<div id="categories" class="hero vh-100 d-flex" style="margin-top: 100px;">
  <div class="container">
    <h1>All Recipes</h1>
      <div class="row row-cols-auto col g-2 py-4 justify-content-evenly">
        <% if(categories != '') { %>
          <% categories.forEach(function(category, index) { %>
            <a class="col text-center category__link" href="/recipes/<%- category.name %>">
              <div class="category__img shadow">
                <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
  </div>
</div>