<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/contact.css">
</head>
</head>
<body>


<!-- Cantact Page -->

<div  id="contact" class="d-flex align-items-center">
  <div class="container">
    
    <div class="row flex-lg-row align-items-center g-5 py-4 mb-4" style="margin-top: 100px;margin-bottom: 50px;">
      <section class="row w-100 bg-light" style="padding-top: 50px;padding-bottom: 50px;margin-top: 100px;">

        <div class="col=12 col-lg-6">
          <h2> Contact </h2>
          <br>
          <p style="font-size: 18px;">Thanks for stopping by Dessert World today!
          <br>
            I read every email that arrives in my inbox, but can’t respond to all of them as I receive over 100 per day.
            <br>Do you have a question for me or would just like to say hello? I’d love to hear from you!
            Feel free to drop me a message.</p>
        </div>

        <div class="col-12 col-lg-6"> 
          <h3 class="title">Send Me a Message</h3>
            <form action="" method="post">
              <!-- https://api.staticforms.xyz/submit
              <input type="hidden" name="accessKey" value="01fea6a4-8949-418d-97ea-53c26ed6ff2b">
              <input type="hidden" name="subject" value="Test"> -->
              <div class="item">
                <label class="label">Name</label>
                <input type="text" class="input" placeholder="Your name" name="name" required/>
              </div>

              <div class="item">
                <label class="label">Email</label>
                <input type="email" class="input" placeholder="Your Email" name="email" />
              </div>

              <div class="item">
                <label class="label">Comment</label>
                <textarea class="input" placeholder="Type your message here" required></textarea>
              </div>

              <div class="button-area" >
                <input class="con-btn" type="submit" value="Submit" />
                <input class="con-btn" type="reset" value="Reset" />
              </div>
            </form>
        </div>

      </section>
    </div>
  
  </div>
</div>


 
</body>
</html>