<!-- homepage -->
<div id="home" class="d-flex align-items-center" style="margin-top: 100px;">
  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <div class="col-12 col-lg-6 home-img">
      </div>
      
      <div class="col-12 col-lg-6">
        <p class="display-6 fw-bold mb-4" style="padding-bottom: 10px;">Enjoy the Little Things in Life</p>
        <p style="font-size: 18px;padding-bottom: 20px;">Do you struggle with making dessert at home? 
          You’re not alone! Learning how to make a perfect dessert can be a challenge, but we're up for the task!
          <br>
          We have the best recipes that is not just showing step-by-step method, but also give you tips to help you master your baking skills.
          With our recipes you'll fall in love and enjoy baking at home again!</p>
        <a class="btn" href="/explore">Explore Recipes</a>
      </div>
    </div>
  </div>
</div>
