/* Contact form */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-img {
  background-image: url(/img/contact.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  min-height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

form {
  width: 460px;
  margin: 0 auto;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px #DAB332;
  padding-left: 10px;
}

.input {
  float: left;
  width: 300px;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #aaa;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  width: 300px;
  font-size: 15px;
}

.button-area {
  text-align: end;
}

.co-btn:hover {
  transform: scale(1.1);
}

input[type="submit"] {
  background: #DAB332;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
  
}


input[type="reset"] {
  background: white;
  border: none;
  color: #DAB332;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}


/* #DAB332 深黃 DBBF51 淺黃*/

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-thread {
  margin-top: 40px;
  margin-bottom: 20px;
}
